.table {
    vertical-align: center;
    position: relative;
    text-align: center;
}

.thead-sunrise {
    display: flex;

}

.weather-info {
    width:200px;
    padding:15px;
}

#column {
    font-size: 24;
    font-weight:bold;
}
#align-bottom {
    vertical-align: middle;
    text-align:center;
}
#sunrise {
    justify-content: right;
}